/data
/etc-dnsmasq.d
/etc-pihole
/letsencrypt
/vw-data
/wireguard
/duckdns
server.env
.server.env
/server.env
/homeassistant
/jackett
/jellyfin
/nzbget
/organizr
/overseerr
/plex
/qbittorrent
/radarr
/sonarr
/teslamate